{% extends "base.html" %}

{% block start %}
<div class="container mt-5">
    <div class="col-6 mx-auto card p-4 shadow-lg">
        <h2>Confirm Delete</h2>
        <hr>
        <p>Are you sure you want to delete the recipe <strong>{{ recipe.recipe_name }}</strong>?</p>

        <form method="post">
            {% csrf_token %}
            <a href="{% url 'recipe' %}" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-danger">Yes, Delete</button>
        </form>
    </div>
</div>
{% endblock %}
